<!DOCTYPE html>
<html>
 <head>
  <title>ペット日誌</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="users.css">
</head>

<header class="header">
  <div class="heading">
   <div class="title">ユーザー登録</div>
  </div>
</header>

  <div class="content">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

      <div class="users-form">
        <%= f.label :name, "ユーザー名" %><br />
        <%= f.text_field :name, id:"user_name", autofocus: true %>
      </div>

      <div class="users-form">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, id:"user_email", autocomplete: "email" %>
      </div>

      <div class="users-form">
        <%= f.label :password, "パスワード（6文字以上）" %><br />
        <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
      </div>

      <div class="users-form">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ＯＫ！", class: :form__btn  %>
      </div>

    <% end %>
  </div>
</html>