<header>
  <div class="heading">
   <div class="title">ユーザー登録</div>
  </div>
</header>

        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <div class="content">

      <div class="users-form">
        <%= f.label :name, "ユーザー名" %><br />
        <%= f.text_field :name, id:"user_name", autofocus: true %>
      </div>

      <div class="users-form">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, id:"user_email", autocomplete: "email" %>
      </div>

      <div class="users-form">
        <%= f.label :password, "パスワード（6文字以上）" %><br />
        <%= f.password_field :password, id:"user_password", autocomplete: "new-password" %>
      </div>

      <div class="users-form">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ＯＫ！", class: :form__btn  %>
      </div>

      </div>
    <% end %>
