<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="user.css">
    <title>fam のーと</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Open+Sans:wght@300&family=Potta+One&display=swap" rel="stylesheet">
  </head>


  <body>
    <header>
      <div class="header">
        <div class="title">ペット登録</div>
        <!--input type="submit" value="あとで登録" class="button"-->
      </div>
    </header>

  <div class="user_content">
  <div class="user_contents">
    <%= form_with(model: @pet, local: true) do |form| %>

      <div class="pet-form">
      <%= form.label :imag, "写真" %><br />
       <input type="file" class="pet_image"><br>
      </div>

      <div class="pet-form">
        <%= form.label :name, "ペット名" %><br />
        <%= form.text_field :name, id:"name"%>
      </div>

      <div class="pet-form">
        <%= form.label :gender, "性別" %><br />
        <%= form.radio_button :gender, "オス", class: "no-style" %>
        <%= form.label :gender, "オス" %>
        <%= form.radio_button :gender, "メス", class: "no-style" %>
        <%= form.label :gender, "メス" %>
        <%= form.radio_button :gender, "わからない", class: "no-style" %>
        <%= form.label :gender, "わからない" %>
      </div>

      <div class="pet-form">
        <%= form.label :kind, "種類" %><br />
        <%= form.text_field :kind, id:"kind" %>
      </div>

      <div class="pet-form">
        <%= form.label :birthday, "誕生日" %><br />
        <%= form.date_field :birthday, id:"birthday" %>
      </div> 

      <!--<div class="pet-form">
        <%= form.label :aniversary, "記念日" %><br />
        <%= form.date_field :aniversary, id:"aniversary" %>
      </div> 

      <div class="pet-form">
        <%= form.label :aniversary_name, "記念日名" %><br />
        <%= form.text_field :aniversary_name, id:"aniversary_name" %>
      </div> -->

      <div class="actions">
        <%= form.submit "ＯＫ！", class: :form__btn  %>
      </div>

    <% end %>
  </div>
  </div>
  </body>
  </html>