<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="writes.css">
    <title>fam のーと</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Open+Sans:wght@300&family=Potta+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header1">
        <div class="title1"><%= "#{@pet.name}情報" %></div>
        <div class="header_button">
        <%= link_to image_tag('edit.png'), writes_path(@writes) %><!--編集ページへ-->
        <%= link_to image_tag('addition.png'), writes_path(@writes) %><!--追加ページへ-->
        <%= link_to image_tag('return.png'), writes_path(@writes) %><!--戻る-->

        </div>
      </div>
   </header>

    <div class="pet_content_up">
      <div class='pet_img'>
      <%= image_tag @pet.image,class:"pet-box-img" %>

    </div>

    <div class="pet_content_down">
     <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= @pet.name %></td>
          </tr>
          <tr>
            <th class="table__col1">性別</th>
            <td class="table__col2"><%= @pet.gender %></td>
          </tr>
          <tr>
            <th class="table__col1">種類</th>
            <td class="table__col2"><%= @pet.kind %></td>
          </tr>
          <tr>
            <th class="table__col1">誕生日</th>
            <td class="table__col2"><%= @pet.birthday %></td>
          </tr>
          <tr>
            <th class="table__col1">ユーザー名</th>
            <td class="table__col2"><%= @pet.user.name %></td><!--ユーザー名にする-->
          </tr>
        </tbody>
      </table>
     </div>
  </body>
</html>