<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="writes.css">
    <title>fam のーと</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Open+Sans:wght@300&family=Potta+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header1">
        <div class="title1">記録</div>
        <div class="header_button">
          <%= link_to image_tag('time.png'),'writes/show' %><!--詳細ページへ-->
          <%= link_to image_tag('calender.png'), writes_path(@writes) %><!--カレンダーへ-->
        </div>
      </div>
    </header>

 <%= form_with(model: @write, local: true) do |form| %>
    <div class="writes_content">
      <div class="writes_content_top">
        <div style="white-space: nowrap;">
          <div class="icon_1">
          <%= form.radio_button :icon, 1, id: "meal", checked: true %>
          <%= form.label :/, for: "meal" %>
          <%= form.radio_button :icon, 2, id: "poop", checked: true %>
          <%= form.label :/, for: "poop" %>
          <%= form.radio_button :icon, 3, id: "pee", checked: true %>
          <%= form.label :/, for: "pee" %>
          <%= form.radio_button :icon, 4, id: "walk", checked: true %>
          <%= form.label :/, for: "walk" %>
          </div>

          <div class="icon_2">
            <%= form.radio_button :icon, 5, id: "vomit", checked: true %>
            <%= form.label :/, for: "vomit" %>
            <%= form.radio_button :icon, 6, id: "shampoo", checked: true %>
            <%= form.label :/, for: "shampoo" %>
            <%= form.radio_button :icon, 7, id: "trimming", checked: true %>
            <%= form.label :/, for: "trimming" %>
            <%= form.radio_button :icon, 8, id: "medicine", checked: true %>
            <%= form.label :/, for: "medicine" %>
          </div>
        </div>
      </div>

      <div class="writes_content_bottom">
        <div class="write-form">
          <%= form.label :memo, "メモ" %><br />
          <%= form.text_field :memo, id:"memo" %>
        </div>
        <div class="write-form">
          <%= form.label :input_date, "日時" %><br />
          <%= form.datetime_field :input_date, id:"input_date" %>
        </div>
        <div class="write-form">
          <%= form.label :schedule, "スケジュール" %><br />
          <%= form.text_field :schedule, id:"schedule" %>
        </div>
        <div class="actions">
          <%= form.submit "ＯＫ！", class: :write_form__btn  %>
        </div>
      </div>
<% end %>
  </body>
</html>