<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>fam のーと</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Open+Sans:wght@300&family=Potta+One&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="header1">
        <div class="title1">記録</div>
        <div class="header_button">
          <%= link_to image_tag('time.png'), write_path(2) %><!--詳細ページへ-->
          <%= link_to image_tag('calender.png'), writes_path(@writes) %><!--カレンダーへ-->
        </div>
      </div>
    </header>

 <%= form_with(model: @write, local: true, method: :post) do |form| %>
    <div class="writes_content">
      <div class="writes_content_top">
        <div style="white-space: nowrap">
          <div class="icon_1">
          
          <%= form.radio_button :icon, :"meal" %>
          <%= form.label :icon_meal, "meal" %>
          <%= form.radio_button :icon, :"poop" %>
          <%= form.label :icon_poop, "poop" %>
          <%= form.radio_button :icon, :"pee" %>
          <%= form.label :icon_pee, "pee" %>
          <%= form.radio_button :icon, :"walk" %>
          <%= form.label :icon_walk, "walk" %>
          </div>


          <div class="icon_2">
          <%= form.radio_button :icon, :"vomit" %>
          <%= form.label :icon_vomit, "vomit" %>
          <%= form.radio_button :icon, :"shampoo" %>
          <%= form.label :icon_shampoo, "shampoo" %>
          <%= form.radio_button :icon, :"trimming" %>
          <%= form.label :icon_trimming, "trimming" %>
          <%= form.radio_button :icon, :"medicine" %>
          <%= form.label :icon_medicine, "medicine" %>
          </div>
        </div>
      </div>

      <div class="writes_content_bottom">
        <div class="write-form">
          <%= form.label :memo, "メモ" %><br />
          <%= form.text_field :memo, id:"memo" %>
        </div>
        <div class="write-form">
          <%= form.label :input_date, "日時" %><br />
          <%= form.datetime_field :input_date, id:"input_date", default: Time.current %>
        </div>
        <div class="write-form">
          <%= form.label :schedule, "スケジュール" %><br />
          <%= form.text_field :schedule, id:"schedule" %>
        </div>
        <div class="actions">
          <%= form.submit "ＯＫ！", class: :write_form__btn  %>
        </div>
      </div>
<% end %>
  </body>
</html>