<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'writes' %>
    <title>fam のーと</title>
  </head>

<body>
  <header>
    <div class="header2">
      <div class="title2">
       <%= @target_date &.strftime('%Y年 %m月 %d日') %>
      </div>

      <div class="header_button">
        <%= link_to image_tag('addition1.png'), root_path %>
        <%= link_to image_tag('calender.png'), writes_path(@writes) %><!--カレンダーへ-->
      </div>
    </div>
  </header>

  <div class="writes_day-main">
    <div class="writes-day_contents">
      <div class="birthday-content">
        <%= image_tag 'happy.png' ,size: "300x100"%> <!--もし記念日なら表示-->
      </div>

      <!--<div class="schedule-content">
        <div class="icon">
          <%= image_tag 'schedule.png' %>
        </div>
          <div class="write-schedule">病院</div>
      </div>-->

<% if @writes.present? %>
  <div class="icon">
    <%= image_tag 'star.png' %>
  </div>
  <div class="star-content">
    <ul>
      <% @writes.each do |write| %>
        <li>
          <%= write.icon %>
          <% if write.start_time %>
            <%= write.start_time.strftime("%H:%M") %>
          <% else %>
            <%= write.created_at.strftime("%H:%M") %>
          <% end %>
          <%= write.memo %>
        </li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>No data available.</p>
<% end %>

    </div>
  </div>
</body>
</html>